<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is home page</title>
</head>

<body>
	<section>
		<div class="card3">
			<div class="card-body">
				<h1 class="text-center">Add Booking</h1>

				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form action="#" th:object="${booking}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-booking}" class="t-2">

								<!-- First Name -->

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>

									<input required type="text" id="customername"
										name="customername" placeholder="Enter Name Here"
										class="form-control" />
								</div>

								<!-- Email Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input required type="text" id="email" name="email"
										placeholder="Enter Email Here" class="form-control" />
								</div>

								<!-- Phone no Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone"></i>
										</div>
									</div>

									<input required min="10" type="number" id="phoneno"
										name="phoneno" placeholder="Enter Phone no Here"
										class="form-control" />
								</div>

								<!-- Profession Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>

									<input type="text" id="profession" name="profession"
										placeholder="Enter Profession Here" class="form-control" />
								</div>

								<!-- Date of Booking Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-calendar"></i>
										</div>
									</div>

									<label for="birthday"></label> <input type="date"
										class="form-control" id="date" name="date">

								</div>

								<!-- Payment Details Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-inr"></i>
										</div>
									</div>

									<input type="text" id="paymentdetails" name="paymentdetails"
										placeholder="Enter Payment Details Here" class="form-control" />
								</div>

								<!-- Image  Field -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-image"></i>
										</div>
									</div>

									<div class="form-group">
										<label for="exampleFormControlFile1"> </label> <input
											type="file" name="profileimage" class="form-control-file"
											id="image">
									</div>




									<!-- Description  Field -->

									<div class="input-group mt-3 mb-3">

										<textarea id="mytextarea"
											placeholder="Enter Booking Description Here"
											class="form-control" name="description" rows="10"></textarea>

									</div>
									<div class="container text-center">
										<button class-"btnbtn-outline-primary">Save Booking</button>

									</div>
							</form>

						</div>

					</div>

				</div>

			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin">
		
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>
	</section>
</body>
</html>